:root {
  --primary: #b6895b;
  --background: #010101;
  --font: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: #010101;
  color: var(--font);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 5%;
  background-color: rgb(1, 1, 1, 0.8);
  border-bottom: 1px solid #e6a0596b;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar-logo a {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--font);
}

.navbar-logo span {
  font-style: italic;
  color: var(--primary);
}

.navbar-nav a {
  display: inline-block;
  font-size: 1.6rem;
  margin: 1rem;
  color: var(--font);
}

.navbar-nav a:hover {
  color: var(--primary);
}

.navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--font);
  transform: scaleX(0);
}

.navbar-nav a:hover::after {
  transform: scaleX(0.7);
  transition: 0.4s linear;
}

.navbar-extra a {
  color: var(--font);
  margin: 0 0.5rem;
}

#hamburger-menu {
  display: none;
}

#home {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img/img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.textWrap {
  padding: 2rem;
}

#home-header {
  font-size: 7.2rem;
  font-family: "Playfair Display", serif;
  width: 64%;
  font-weight: 900;
  color: var(--font);
  text-shadow: 10rem 10rem 20rem rgb(1, 1, 1, 1);
}

#home-header span {
  color: #ffa550;
  background-color: #c73b3b;
}

#home-p {
  font-size: 2rem;
  font-family: "Caveat", cursive;
  color: #e6e6e6c5;
  line-height: 1.3;
  font-weight: 100;
  width: 50%;
  margin-top: 1rem;
  text-shadow: 1px 1px 3px rgb(1, 1, 1, 1);
}

.cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: var(--font);
  background-color: var(--primary);
  font-family: "Playfair Display", serif;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 5px rgb(1, 1, 1, 1);
}

.cta:hover {
  color: #ffffff36;
  background-color: #b6895b78;
}

#about {
  min-height: 100vh;
  width: 100%;
  padding: 10rem 5% 1rem;
  min-height: 100vh;
  justify-content: center;
}

#about-header {
  font-size: 6.5rem;
  background-color: rgb(88, 53, 53);
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.wrap2 {
  display: flex;
  margin-top: 30px;
}

.wrap2 .about-img img {
  height: 500px;
  width: 900px;
}

.aboutContent {
  padding: 0 2rem;
}
#about-header-2 {
  font-size: 3rem;
}

#about-header-2 span {
  color: var(--primary);
  font-family: "Caveat", cursive;
  text-decoration: underline;
  font-weight: lighter;
}

#about-p {
  font-size: 2.2rem;
  font-weight: lighter;
  color: #8a8a8a;
  margin-top: 20px;
}

#menu {
  min-height: 100vh;
  width: 100%;
  padding: 10rem 5% 1rem;
  min-height: 100vh;
  justify-content: center;
  background: linear-gradient(to bottom, #010101, #393939);
}

#menu-p {
  font-size: 1.8rem;
  font-weight: lighter;
  color: #8a8a8a;
  width: 40rem;
  margin: 1rem auto 2rem;
  text-align: center;
}

.menu-card-img {
  height: 300px;
  width: 300px;
  border-radius: 20px;
  box-shadow: 2px 3px 4px #c2c2c2;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.menu-card {
  text-align: center;
  padding-bottom: 1.5rem;
}

.menu-card-title {
  margin-top: 1rem;
  font-size: 2rem;
}

.menu-card-price {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  color: #c2c2c2;
}

#contact {
  min-height: 100vh;
  width: 100%;
  padding: 10rem 5% 1rem;
  min-height: 100vh;
  justify-content: center;
  background: linear-gradient(to bottom, #393939, #a2a2a2);
}

#contact-p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #000000;
  width: 60rem;
  margin: 1rem auto 2rem;
  text-align: center;
}

.contactRow {
  display: flex;
  margin-top: 2rem;
  background-color: #222;
  flex-wrap: wrap;
}

.map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

#form {
  flex: 1 1 30rem;
  padding: 1.6rem 2rem 3rem;
  text-align: center;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 2rem;
  background-color: var(--background);
  border: 2px solid #ffff;
}

.input-group input {
  width: 100%;
  padding: 2rem 2rem;
  font-size: 1.7rem;
  background: none;
  color: var(--font);
}

.btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-top: 1rem;
  color: var(--font);
  background-color: var(--primary);
  border-radius: 0.5rem;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff90;
  background-color: #b6895b50;
}

#form .input-group {
  padding-left: 2rem;
}

/* Media Queries */
/* 1366px Width */
@media (max-width: 1366px) {
  html {
    font-size: 85%;
  }
}

/* 768px Width */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #ab5252;
    width: 30rem;
    height: 100vh;
    transition: 0.4s;
  }

  .navbar-nav.active {
    right: 0;
  }

  .navbar-nav a {
    color: var(--background);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar-nav a:hover {
    color: var(--primary);
  }

  .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar-nav a:hover::after {
    transform: scaleX(0.3);
    transition: 0.4s linear;
    border-color: #010101;
  }
}

/* 1366px Width */
@media (max-width: 450px) {
  html {
    font-size: 40%;
  }
}
